<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyBiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/myBiz-logo.png' %}" type="image/png" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:240px)" href="{% static 'style//media/240-width.css' %}" /> <!-- Between 240px and 479px -->
    <link rel="stylesheet" type="text/css" media="screen and (min-width:480px)" href="{% static 'style/media/480-width.css' %}" /> <!-- Between 480px and 720px -->
    <!-- <link rel="stylesheet" type="text/css" media="screen and (min-width:1366px)" href="{% static 'style/media/1366-width.css' %}" /> For screens bigger than 1366px -->

</head>

<body>

<header class="landing-header">

</header>

<aside>
    <div class="main-logo">
        <img src="{% static 'images/myBiz-logo.png' %}">
    </div>

    <div class="wrong-password">
        <span><i class="fas fa-exclamation-triangle"></i>Невірний логін або пароль</span>
    </div>

    <form action="/login/" method="POST">

        <label>Логін</label>
        <input type="text" name="login" pattern="^[A-Za-z0-9]+$" required id="login">

        <label>Пароль</label>
        <input type="password" name="password" required><br>
        <a href="#" onclick="MyBizLoginRequest.openResetPassword()">Скинути пароль</a><br>

        <nobr>
            <input style="margin-left:-22%" id="alive_device" type="checkbox" name="alive_device" value="1">
            <label style="margin-left:-38%" for="alive_device">Чужий компʼютер</label>
        </nobr>

        <div class="reg-buttons">
            <button type="button" class="submit">Увійти</button>
            <button class="new-register">Зареєструватись</button>
        </div>
    </form>

    <hr>

    <div class="invest">
        <img src="{% static 'images/icons/invest.jpg' %}" />
        <span>Для інвесторів</span>
    </div>

    <div class="crowdfunding">
        <img src="{% static 'images/icons/crowdfunding.png' %}" />
        <span>Краудфандинг</span>
    </div>
</aside>

<div style="font-size: 120%;width: 21%;margin-left: 49%;margin-top: 15%;border: 2px inset #00b0f0;padding-left: 2%;padding-top: 1%;padding-bottom: 1%;">

            {% if validlink %}
            <h1 style="font-size:140%">Зміна паролю</h1>
            <br>
            <form method="post">
                {% csrf_token %}
                <label for="id_new_password1">Пароль</label><br>
                    &nbsp;&nbsp;&nbsp;{{ form.new_password1 }}
                <br><br>
                <label for="id_new_password2">Повторіть пароль</label><br>
                    &nbsp;&nbsp;&nbsp;{{ form.new_password2 }}
                    <br>
                {% if form.new_password2.errors %}
                    <br>
                    <div style="width:89%;color:red">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
<!--                {{ form.as_p }}-->
                <br><br>
                <button style="margin-top:1%;height: 1.8em;border: 2px solid #009DD6;border-radius: 1em;color: #009DD6;background-color: white;cursor: pointer;transition-property: color, background-color;transition-duration: 0.5s;transition-delay: 0;" type="submit" >Змінити пароль</button>
            </form>
            {% else %}
            <p>
                Посилання некоректне. Спробуйте знову запустити механізм відновлення паролю.
            </p>
            {% endif %}

</div>

    <script src="{% static 'src/landing/index.js' %}"></script>
    <script src="{% static 'src/landing/request.js' %}"></script>
</body>

</html>